<div class = 'blogs'>
  <section class="card">
      <input class="new-blog-title" value="{{post.title}}">
    <input class="new-blog-content" value="{{post.content}}">
  </section>
  <button id="update-post" class="btn-style">Update post</button>
  <button id="delete-post" class="btn-style">Delete post</button>
</div>

<script src="../js/editpost.js"></script>