<section class="login-card">
  <header>
    <div class="card-title">Login</div>
  </header>
  <div class="login">
    <form class='login-form'>
    <label for="email-login">Email: </label><br>
    <input type="text" id="email-login"><br>
    <label for="password-login">Password: </label><br>
    <input type="text" id="password-login"><br>
    <input id="login-action" type="Submit" value="Submit">
    </form>
  </div>  
</section>

<script src="./js/login.js"></script>