<section class="signup-card">
  <header>
    <div class="card-title">Sign up</div>
  </header>
  <div class="login">
    <form class='login-form'>
    <label for="username-signup">Username: </label><br>
    <input type="text" id="username-signup"><br>
    <label for="email-signup">Email: </label><br>
    <input type="text" id="email-signup"><br>
    <label for="password-signup">Password: </label><br>
    <input type="text" id="password-signup"><br>
    <input id="signup-action" type="Submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/login">Login from here!</a></p> 
  </div>  
</section>

<script src="./js/signup.js"></script>